# Clean data from txt file

In [1]:
import numpy as np

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
import io

In [42]:
url = 'https://github.com/TNatapon/Privacy_SDN_Edge_IoT/blob/main/PlanB/Experiment1/test1_1.txt'
file = io.StringIO(requests.get(url).text)
filename = "/Users/kalika/Desktop/test1_1.txt"
print(file)

<_io.StringIO object at 0x7fad680d65f0>

In [4]:
col_names = ('Interval', 'Transfer','Bitrate', 'Jitter','Lost/Total Datagrams')
skip_1 = list(range(0, 10, 1))

In [5]:
df = pd.read_csv(filename,
   skiprows=skip_1,
   header=None,
   delimiter=' ',
   skipinitialspace=True,
   error_bad_lines=False)

b'Skipping line 42: expected 12 fields, saw 25\nSkipping line 44: expected 12 fields, saw 13\nSkipping line 82: expected 12 fields, saw 25\nSkipping line 84: expected 12 fields, saw 13\nSkipping line 122: expected 12 fields, saw 25\nSkipping line 124: expected 12 fields, saw 13\nSkipping line 162: expected 12 fields, saw 25\nSkipping line 164: expected 12 fields, saw 13\nSkipping line 202: expected 12 fields, saw 25\nSkipping line 204: expected 12 fields, saw 13\nSkipping line 242: expected 12 fields, saw 25\nSkipping line 244: expected 12 fields, saw 13\nSkipping line 282: expected 12 fields, saw 25\nSkipping line 284: expected 12 fields, saw 13\nSkipping line 322: expected 12 fields, saw 25\nSkipping line 324: expected 12 fields, saw 13\nSkipping line 362: expected 12 fields, saw 25\nSkipping line 364: expected 12 fields, saw 13\nSkipping line 402: expected 12 fields, saw 25\nSkipping line 404: expected 12 fields, saw 13\n'

In [6]:
print(df)

    0    1            2         3        4       5           6          7   \
0    [   5]    0.00-1.00       sec     3.96  MBytes        33.2  Mbits/sec
1    [   5]    1.00-2.00       sec     3.99  MBytes        33.5  Mbits/sec
2    [   5]    2.00-3.00       sec     3.94  MBytes        33.1  Mbits/sec
3    [   5]    3.00-4.00       sec     4.00  MBytes        33.6  Mbits/sec
4    [   5]    4.00-5.00       sec     3.95  MBytes        33.2  Mbits/sec
..  ..  ...          ...       ...      ...     ...         ...        ...
369  [   5]  27.00-28.00       sec     3.97  MBytes        33.3  Mbits/sec
370  [   5]  28.00-29.00       sec     3.93  MBytes        33.0  Mbits/sec
371  [   5]  29.00-30.00       sec     3.90  MBytes        32.8  Mbits/sec
372  [   5]  30.00-30.05       sec      184  KBytes        32.5  Mbits/sec
373  [  ID]     Interval  Transfer  Bitrate  Jitter  Lost/Total  Datagrams

        8    9       10    11
0    0.509   ms  0/2867  (0%)
1    0.636   ms  0/2889  (0%)
2    0.722   ms  0/2856  (0%)
3    0.505   ms  0/2897  (0%)
4    0.757   ms  0/2862  (0%)
..     ...  ...     ...   ...
369  0.595   ms  0/2873  (0%)
370  0.501   ms  0/2845  (0%)
371  0.476   ms  0/2827  (0%)
372  0.511   ms   0/130  (0%)
373    NaN  NaN     NaN   NaN

[374 rows x 12 columns]

In [7]:
print(df.head())

  0   1          2    3     4       5     6          7      8   9       10  \
0  [  5]  0.00-1.00  sec  3.96  MBytes  33.2  Mbits/sec  0.509  ms  0/2867
1  [  5]  1.00-2.00  sec  3.99  MBytes  33.5  Mbits/sec  0.636  ms  0/2889
2  [  5]  2.00-3.00  sec  3.94  MBytes  33.1  Mbits/sec  0.722  ms  0/2856
3  [  5]  3.00-4.00  sec  4.00  MBytes  33.6  Mbits/sec  0.505  ms  0/2897
4  [  5]  4.00-5.00  sec  3.95  MBytes  33.2  Mbits/sec  0.757  ms  0/2862

     11
0  (0%)
1  (0%)
2  (0%)
3  (0%)
4  (0%)

In [9]:
df = df.drop(labels=range(30, len(df)), axis=0)

In [10]:
print(df.head)

<bound method NDFrame.head of    0   1            2    3     4       5     6          7      8   9       10  \
0   [  5]    0.00-1.00  sec  3.96  MBytes  33.2  Mbits/sec  0.509  ms  0/2867
1   [  5]    1.00-2.00  sec  3.99  MBytes  33.5  Mbits/sec  0.636  ms  0/2889
2   [  5]    2.00-3.00  sec  3.94  MBytes  33.1  Mbits/sec  0.722  ms  0/2856
3   [  5]    3.00-4.00  sec  4.00  MBytes  33.6  Mbits/sec  0.505  ms  0/2897
4   [  5]    4.00-5.00  sec  3.95  MBytes  33.2  Mbits/sec  0.757  ms  0/2862
5   [  5]    5.00-6.00  sec  3.96  MBytes  33.2  Mbits/sec  0.608  ms  0/2865
6   [  5]    6.00-7.00  sec  3.95  MBytes  33.1  Mbits/sec  0.670  ms  0/2858
7   [  5]    7.00-8.00  sec  3.99  MBytes  33.4  Mbits/sec  0.568  ms  0/2886
8   [  5]    8.00-9.00  sec  3.89  MBytes  32.6  Mbits/sec  0.523  ms  0/2815
9   [  5]   9.00-10.00  sec  3.97  MBytes  33.3  Mbits/sec  0.566  ms  0/2877
10  [  5]  10.00-11.00  sec  3.95  MBytes  33.1  Mbits/sec  0.442  ms  0/2858
11  [  5]  11.00-12.00  sec  4.01  MBytes  33.6  Mbits/sec  0.511  ms  0/2903
12  [  5]  12.00-13.00  sec  3.97  MBytes  33.3  Mbits/sec  0.558  ms  0/2873
13  [  5]  13.00-14.00  sec  3.97  MBytes  33.3  Mbits/sec  0.408  ms  0/2878
14  [  5]  14.00-15.00  sec  3.96  MBytes  33.2  Mbits/sec  0.467  ms  0/2865
15  [  5]  15.00-16.00  sec  3.91  MBytes  32.8  Mbits/sec  0.665  ms  0/2833
16  [  5]  16.00-17.00  sec  3.94  MBytes  33.1  Mbits/sec  0.499  ms  0/2854
17  [  5]  17.00-18.00  sec  3.98  MBytes  33.4  Mbits/sec  0.614  ms  0/2879
18  [  5]  18.00-19.00  sec  3.69  MBytes  31.0  Mbits/sec  0.533  ms  0/2675
19  [  5]  19.00-20.00  sec  3.78  MBytes  31.7  Mbits/sec  0.606  ms  0/2738
20  [  5]  20.00-21.00  sec  3.83  MBytes  32.1  Mbits/sec  0.747  ms  0/2775
21  [  5]  21.00-22.00  sec  3.98  MBytes  33.4  Mbits/sec  0.497  ms  0/2881
22  [  5]  22.00-23.00  sec  4.00  MBytes  33.5  Mbits/sec  0.385  ms  0/2896
23  [  5]  23.00-24.00  sec  3.97  MBytes  33.3  Mbits/sec  0.482  ms  0/2878
24  [  5]  24.00-25.00  sec  3.96  MBytes  33.2  Mbits/sec  0.677  ms  0/2865
25  [  5]  25.00-26.00  sec  4.01  MBytes  33.6  Mbits/sec  0.585  ms  0/2904
26  [  5]  26.00-27.00  sec  3.85  MBytes  32.3  Mbits/sec  0.570  ms  0/2788
27  [  5]  27.00-28.00  sec  3.97  MBytes  33.3  Mbits/sec  0.513  ms  0/2875
28  [  5]  28.00-29.00  sec  3.79  MBytes  31.8  Mbits/sec  0.392  ms  0/2748
29  [  5]  29.00-30.00  sec  3.95  MBytes  33.2  Mbits/sec  0.793  ms  0/2863

      11
0   (0%)
1   (0%)
2   (0%)
3   (0%)
4   (0%)
5   (0%)
6   (0%)
7   (0%)
8   (0%)
9   (0%)
10  (0%)
11  (0%)
12  (0%)
13  (0%)
14  (0%)
15  (0%)
16  (0%)
17  (0%)
18  (0%)
19  (0%)
20  (0%)
21  (0%)
22  (0%)
23  (0%)
24  (0%)
25  (0%)
26  (0%)
27  (0%)
28  (0%)
29  (0%)  >

In [11]:
print(df.shape)

(30, 12)

In [12]:
df = df.drop(df.columns[[0,1,3, 5,7,9,11]], axis=1)  
print(df.head)

<bound method NDFrame.head of              2     4     6      8       10
0     0.00-1.00  3.96  33.2  0.509  0/2867
1     1.00-2.00  3.99  33.5  0.636  0/2889
2     2.00-3.00  3.94  33.1  0.722  0/2856
3     3.00-4.00  4.00  33.6  0.505  0/2897
4     4.00-5.00  3.95  33.2  0.757  0/2862
5     5.00-6.00  3.96  33.2  0.608  0/2865
6     6.00-7.00  3.95  33.1  0.670  0/2858
7     7.00-8.00  3.99  33.4  0.568  0/2886
8     8.00-9.00  3.89  32.6  0.523  0/2815
9    9.00-10.00  3.97  33.3  0.566  0/2877
10  10.00-11.00  3.95  33.1  0.442  0/2858
11  11.00-12.00  4.01  33.6  0.511  0/2903
12  12.00-13.00  3.97  33.3  0.558  0/2873
13  13.00-14.00  3.97  33.3  0.408  0/2878
14  14.00-15.00  3.96  33.2  0.467  0/2865
15  15.00-16.00  3.91  32.8  0.665  0/2833
16  16.00-17.00  3.94  33.1  0.499  0/2854
17  17.00-18.00  3.98  33.4  0.614  0/2879
18  18.00-19.00  3.69  31.0  0.533  0/2675
19  19.00-20.00  3.78  31.7  0.606  0/2738
20  20.00-21.00  3.83  32.1  0.747  0/2775
21  21.00-22.00  3.98  33.4  0.497  0/2881
22  22.00-23.00  4.00  33.5  0.385  0/2896
23  23.00-24.00  3.97  33.3  0.482  0/2878
24  24.00-25.00  3.96  33.2  0.677  0/2865
25  25.00-26.00  4.01  33.6  0.585  0/2904
26  26.00-27.00  3.85  32.3  0.570  0/2788
27  27.00-28.00  3.97  33.3  0.513  0/2875
28  28.00-29.00  3.79  31.8  0.392  0/2748
29  29.00-30.00  3.95  33.2  0.793  0/2863>

In [13]:
columnname = ['Interval', 'Transfer', 'Bitrate','Jitter', 'Lost/Total Datagrams']

In [20]:
print(df.shape)

(30, 5)

In [28]:
print(df.dtypes)

2     object
4     object
6     object
8     object
10    object
dtype: object

In [29]:
print(df[2])

0       0.00-1.00
1       1.00-2.00
2       2.00-3.00
3       3.00-4.00
4       4.00-5.00
5       5.00-6.00
6       6.00-7.00
7       7.00-8.00
8       8.00-9.00
9      9.00-10.00
10    10.00-11.00
11    11.00-12.00
12    12.00-13.00
13    13.00-14.00
14    14.00-15.00
15    15.00-16.00
16    16.00-17.00
17    17.00-18.00
18    18.00-19.00
19    19.00-20.00
20    20.00-21.00
21    21.00-22.00
22    22.00-23.00
23    23.00-24.00
24    24.00-25.00
25    25.00-26.00
26    26.00-27.00
27    27.00-28.00
28    28.00-29.00
29    29.00-30.00
Name: 2, dtype: object

In [37]:

df.rename({2 :'Interval', 4 : 'Transfer', 6 :'Bitrate', 8 :'Jitter', 10 :'Lost/Total Datagrams'}, axis=1, inplace=True)

In [38]:
print(df.head)

<bound method NDFrame.head of        Interval Transfer Bitrate Jitter Lost/Total Datagrams
0     0.00-1.00     3.96    33.2  0.509               0/2867
1     1.00-2.00     3.99    33.5  0.636               0/2889
2     2.00-3.00     3.94    33.1  0.722               0/2856
3     3.00-4.00     4.00    33.6  0.505               0/2897
4     4.00-5.00     3.95    33.2  0.757               0/2862
5     5.00-6.00     3.96    33.2  0.608               0/2865
6     6.00-7.00     3.95    33.1  0.670               0/2858
7     7.00-8.00     3.99    33.4  0.568               0/2886
8     8.00-9.00     3.89    32.6  0.523               0/2815
9    9.00-10.00     3.97    33.3  0.566               0/2877
10  10.00-11.00     3.95    33.1  0.442               0/2858
11  11.00-12.00     4.01    33.6  0.511               0/2903
12  12.00-13.00     3.97    33.3  0.558               0/2873
13  13.00-14.00     3.97    33.3  0.408               0/2878
14  14.00-15.00     3.96    33.2  0.467               0/2865
15  15.00-16.00     3.91    32.8  0.665               0/2833
16  16.00-17.00     3.94    33.1  0.499               0/2854
17  17.00-18.00     3.98    33.4  0.614               0/2879
18  18.00-19.00     3.69    31.0  0.533               0/2675
19  19.00-20.00     3.78    31.7  0.606               0/2738
20  20.00-21.00     3.83    32.1  0.747               0/2775
21  21.00-22.00     3.98    33.4  0.497               0/2881
22  22.00-23.00     4.00    33.5  0.385               0/2896
23  23.00-24.00     3.97    33.3  0.482               0/2878
24  24.00-25.00     3.96    33.2  0.677               0/2865
25  25.00-26.00     4.01    33.6  0.585               0/2904
26  26.00-27.00     3.85    32.3  0.570               0/2788
27  27.00-28.00     3.97    33.3  0.513               0/2875
28  28.00-29.00     3.79    31.8  0.392               0/2748
29  29.00-30.00     3.95    33.2  0.793               0/2863>

In [41]:
print(df['Interval'])

0       0.00-1.00
1       1.00-2.00
2       2.00-3.00
3       3.00-4.00
4       4.00-5.00
5       5.00-6.00
6       6.00-7.00
7       7.00-8.00
8       8.00-9.00
9      9.00-10.00
10    10.00-11.00
11    11.00-12.00
12    12.00-13.00
13    13.00-14.00
14    14.00-15.00
15    15.00-16.00
16    16.00-17.00
17    17.00-18.00
18    18.00-19.00
19    19.00-20.00
20    20.00-21.00
21    21.00-22.00
22    22.00-23.00
23    23.00-24.00
24    24.00-25.00
25    25.00-26.00
26    26.00-27.00
27    27.00-28.00
28    28.00-29.00
29    29.00-30.00
Name: Interval, dtype: object